/* --FONTS-- */
@font-face {
    font-family: FiraMono;
    src: url(/Fonts/FiraMono/FiraMono-Bold.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: OutFit;
    src: url(/Fonts/OutFit/Outfit-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: Righteous;
    src: url(/Fonts/Righteous/Righteous-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Recursive;
    src: url(/Fonts/Recursive/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf) format("truetype");
}

@font-face {
    font-family: Inter;
    src: url(/Fonts/Inter/Inter-VariableFont_slnt,wght.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GRAFICA BASE*/
header{
    height: 7.1875rem;
    width: 100%;
    flex-shrink: 0;
    background: #004996;
}
#Titolo{
    position: absolute;
    color: #FF2626;
    text-align: center;
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: #000;
    font-family: OutFit;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    top: 15px;
    width: 100%;
}

body{
    background: #04326F;
}

#userbox  {
    position: absolute;
    top: 0.44rem;
    right: 10px;
    border: 1px solid black;
    width: 6.25rem;
    height: 6.25rem;
    text-align: center;
    cursor: pointer;
}

.normalUserBox{
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    background: #04326F url("../img/UI/user.png") no-repeat;
    background-size: 100%;
}

.userboxClicked {
    border-radius: 15px 15px 0px 0px;
    background: #479CFF url("../img/UI/user-hover.png") no-repeat;
    background-size: 100%;
}

#boxInfo{
    position: absolute;
    width: 270px;
    height: 150px;
    flex-shrink: 0;
    top: 100px;
    right: 1px;
    border-radius: 15px 0px 15px 15px;
    background: #479CFF;
}

#logout{
    /*Testo*/
    color: #FBFBFB;
    text-align: center;
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 250px;
    height: 56px;
    margin-left: 4%;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
    background: #04326F;
    cursor: pointer;

}

#logout:hover{
    background-color: #FF2626;
}

#usernameUserbox{
    margin-top: 500px;
    color: #F4F4F4;
    text-align: center;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*NAVBAR*/
nav{
    width: 100%;
    height: 96px;
    margin-top: 10px;
    flex-shrink: 0;
    border-radius: 0px 0px 24px 24px;
    margin-left: auto;
    margin-right: auto;
    background: #005CD7;
    align-content: center;
    align-items: center;
    text-align: center;
}

ul{
    display: flex;
    height: 58px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;

    font-weight: 735;
    line-height: normal;
    list-style: none;
}

a{
    background: #04326F;
    color: #FFF;
    text-align: center;
    font-family: Outfit,sans-serif;
    font-size: 24px;
    font-style: normal;
    padding: 20px 10px;
    display: block;
    font-weight: 735;
    line-height: normal;
    list-style: none;
    margin-inline-end: 0px;

    text-decoration: none;
}
a:hover{
    color: #000;
    background: #479BFF;
}

.active{
    background: #479BFF;
    color: #000 ;
}
#home{
    background-image: url(../img/UI/home.png);
}

#home:hover{
    background-image: url(../img/UI/home-hover.png);
}

/*GRAFICA INSERIMENTO COMUNICAZIONE*/
#TitoloComunicazione, #CorpoComunicazione, #NumeroComunicazione, #DataFineComunicazione, #DataInizioComunicazione, #InserisciComunicazione{
    pointer-events: none;
}

.error{
    color: red;
}

#AnteprimaComunicazione {
    width: 600px;
    height: 675px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2.5px solid #FFF;
    background: #205295;
    position: absolute;
    top: 31px;
    left: 660px;
}

#UltimaComunicazione {
    width: 600px;
    height: 675px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2.5px solid #FFF;
    background: #205295;
    position: absolute;
    top: 31px;
    left: 1295px;
}

#NumeroComunicazioneAnteprima,
#NumeroUltimaComunizazione{
    width: 156px;
    height: 132px;
    position: absolute;
    top: 0;
    left: 2px;
    color: #FFF;
    text-align: center;
    font-family: 'OutFit', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    /*metto il testo al centro sia verticale che orizzontale*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#DivisoreNumeroTitoloComunicazioneAnteprima,
#DivisoreNumeroTitoloUltimaComunicazione{
    width: 4px;
    height: 132px;
    flex-shrink: 0;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 154px;
}

#HeadComunicazioneAnteprima,
#HeadUltimaComunicazione{
    width: 596px;
    height: 132px;
    flex-shrink: 0;
    border-bottom: 5px solid #0E284B;
    border-radius: 15px 15px 0 0;
    background: #004996;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 0;
}

#CorpoComunicazioneAnteprima,
#CorpoUltimaComunicazione{
    text-align: justify;
    width: 560px;
    color: #FFF;
    font-family: 'OutFit', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    height: 440px;
    position: absolute;
    top: 150px;
    left: 20px;
}

#TitoloComunicazioneAnteprima,
#TitoloUltimaComunicazione{
    display: flex;
    width: 440px;
    height: 132px;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'OutFit', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 0;
    left: 157px;
    z-index: 1;
    align-items: center;
}

#FooterComunicazioneAnteprima,
#FooterUltimaComunicazione{
    width: 596px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 0 0 15px 15px;
    background: #004996;
    border-top: 5px solid #0E284B;
    position: absolute;
    top: 630px;
    left: 0;
}

#FirmaComunicazioneAnteprima,
#FirmaUltimaComunicazione {
    color: #FFF;
    text-align: left;
    font-family: 'OutFit', sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    position: absolute;
    left: 28px;
}

/*Visulizzazione Comunicazioni*/

#BoxAnteprimaVisualizzazioneComunicazione {
    width: 30.26344rem;
    height: 40.9375rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    border: 2.5px solid #FFF;
    background: #205295;
    position: absolute;
}

#NumeroVisualizzazioneComunicazioneAnteprima{
    width: 156px;
    height: 132px;
    position: absolute;
    top: 0;
    left: 2px;
    color: #FFF;
    text-align: center;
    font-family: 'OutFit', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    /*metto il testo al centro sia verticale che orizzontale*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#DivisoreNumeroTitoloVisualizzazioneComunicazioneAnteprima{
    width: 4px;
    height: 132px;
    flex-shrink: 0;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 154px;
}

#HeadVisualizzazioneComunicazioneAnteprima{
    width: 596px;
    height: 132px;
    flex-shrink: 0;
    border-bottom: 5px solid #0E284B;
    border-radius: 15px 15px 0 0;
    background: #004996;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 0;
}

#CorpoVisualizzazioneComunicazioneAnteprima{
    text-align: justify;
    width: 560px;
    color: #FFF;
    font-family: 'OutFit', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    height: 440px;
    position: absolute;
    top: 150px;
    left: 20px;
}

#TitoloVisualizzazioneComunicazioneAnteprima{
    display: flex;
    width: 440px;
    height: 132px;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'OutFit', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 0;
    left: 157px;
    z-index: 1;
    align-items: center;
}

#FooterVisualizzazioneComunicazioneAnteprima{
    width: 30.26344rem;
    height: 2.42594rem;
    flex-shrink: 0;
    border-radius: 0rem 0rem 0.9375rem 0.9375rem;
    background: #233284;
    border-top: 5px solid #0E284B;
    position: absolute;
    top: 630px;
    left: 0;
}

#FirmaVisualizzazioneComunicazioneAnteprima{
    color: #FFF;
    text-align: left;
    font-family: 'OutFit', sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    position: absolute;
    left: 28px;
}

#ListaComunicazioniRegistrate{
    position: absolute;
    left: 610px;
}

#ListaComunicazioni{
    width: 100%;
}

/* COMPONENTI AGGIUNTIVI*/

#boxHeaderComponentiAggiuntivi {
    width: 1798px;
    height: 90px;
    flex-shrink: 0;
    background-color: #004996;
    position: absolute;
    top: -2.5px;
    left: -2.5px;
    border-radius: 15px 15px 0 0;
    border: 2.5px solid #888A4D;
}

#TitoloComponentiAggiuntivi {
    width: 1700px;
    height: 60px;
    color: #FFF;
    position: absolute;
    top: 17px;
    left: 49px;
    text-align: center;
    font-family: 'OutFit', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

#boxImmagineComponentiAggiuntivi {
    width: 708px;
    height: 496px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    border: 1px solid #E09819;
    background: #004083;
    position: absolute;
    top: 110px;
    left: 1087px;
}

#ImmagineComponentiAggiuntivi {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    color: #FFF;
    text-align: justify;
    font-family: 'OutFit', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
}

#TestoComponentiAggiuntivi {
    display: flex;
    width: 1036px;
    height: 496px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: justify;
    font-family: 'OutFit', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    top: 110px;
    left: 20px;
}

#boxProfComponentiAggiuntivi {
    width: 100%;
    height: 30px;
    flex-shrink: 0;
    border-radius: 0 0 15px 15px;
    border-top: 2.5px solid #E09819;
    background: #004996;
    position: absolute;
    top: 626px;
}

#ProfComponentiAggiuntivi {
    color: #FFF;
    text-align: right;
    font-family: 'OutFit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 20px;
}

#AnteprimaEventoGiornaliero {
    width: 1798px;
    height: 660px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2.5px solid #E09819;
    background: #0E284B;
    position: relative;
    top: 5px;
    left: 5px;
}