/* --FONTS-- */
@font-face {
    font-family: FiraMono;
    src: url(../Fonts/FiraMono/FiraMono-Bold.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: OutFit;
    src: url(../Fonts/OutFit/Outfit-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: Righteous;
    src: url(../Fonts/Righteous/Righteous-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Recursive;
    src: url(../Fonts/Recursive/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf) format("truetype");
}

@font-face {
    font-family: Inter;
    src: url(../Fonts/Inter/Inter-VariableFont_slnt,wght.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LOGIN */
#loginContainer {
    width: 43.75rem;
    height: 30rem;
    flex-shrink: 0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1.25rem;
    border: 2px solid #D1F3FF;
    background: linear-gradient(143deg, rgba(51, 180, 254, 0.25) 0%, #19568F 100%);
    margin-top: 350px;
    transform: translateY(-50%)
}

#loginForm {
    margin-top: 70px;
}

.loginLabel {
    margin-left: 5%;
    color: #FFF;
    text-align: center;
    font-family: OutFit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#username,
#password {
    margin-left: 15%;
    width: 31.875rem;
    height: 3.125rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #DAF3FF;

    color: #000;
    font-family: OutFit;
    font-size: 1.5rem;
    line-height: normal;
}

#loginButton {
    color: #FFF;
    text-align: center;
    font-family: OutFit;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 23.125rem;
    height: 7.875rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #33B4FE;
    margin-left: 50%;
    transform: translateX(-50%);
}

/*GRAFICA BASE*/
header {
    height: 7.1875rem;
    width: 100%;
    flex-shrink: 0;
    background: #004996;
}

#logoTV {
    width: 211.603px;
    height: 110px;
    position: absolute;
    right: 180px;
    top: -10px;
}

#Titolo {
    position: absolute;
    color: #FF2626;
    text-align: center;
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: #000;
    font-family: OutFit;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    top: 15px;
    width: 100%;
}

body {
    background: #04326F;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: #004996;

}

#testFooter {
    color: #FFF;
    font-family: OutFit;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10pX;
    margin-top: 10px;
}

#welcome {
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    margin-top: 200px;
}

#logoIti {
    width: 127.397px;
    height: 100px;
    position: absolute;
    right: 18px;
    bottom: 0;

}

#userbox {
    position: absolute;
    top: 0.44rem;
    right: 10px;
    border: 1px solid black;
    width: 6.25rem;
    height: 6.25rem;
    text-align: center;
    cursor: pointer;
}

.normalUserBox {
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    background: #04326F url("../img/UI/user.png") no-repeat;
    background-size: 100%;
}

.userboxClicked {
    border-radius: 15px 15px 0px 0px;
    background: #479CFF url("../img/UI/user-hover.png") no-repeat;
    background-size: 100%;
}

#boxInfo {
    position: absolute;
    width: 270px;
    height: 150px;
    flex-shrink: 0;
    top: 100px;
    right: 1px;
    border-radius: 15px 0px 15px 15px;
    background: #479CFF;
}

#logout {
    /*Testo*/
    color: #FBFBFB;
    text-align: center;
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 250px;
    height: 56px;
    margin-left: 4%;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
    background: #04326F;
    cursor: pointer;

}

#logout:hover {
    background-color: #FF2626;
}

#usernameUserbox {
    margin-top: 500px;
    color: #F4F4F4;
    text-align: center;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*NAVBAR*/
nav {
    width: 100%;
    height: 96px;
    margin-top: 10px;
    flex-shrink: 0;
    border-radius: 0px 0px 24px 24px;
    margin-left: auto;
    margin-right: auto;
    background: #005CD7;
    align-content: center;
    align-items: center;
    text-align: center;
}

ul {
    display: flex;
    height: 58px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;

    font-weight: 735;
    line-height: normal;
    list-style: none;
}

a {
    background: #04326F;
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 24px;
    font-style: normal;
    padding: 5px 10px;
    display: block;
    font-weight: 735;
    line-height: normal;
    list-style: none;
    margin-inline-end: 0px;

    text-decoration: none;
}

a:hover {
    color: #000;
    background: #479BFF;
}

.active {
    background: #479BFF;
    color: #000;
}

#home {
    background-image: url(../img/UI/home.png);
}

#home:hover {
    background-image: url(../img/UI/home-hover.png);
}

/*GRAFICA INSERIMENTO COMUNICAZIONE*/

/*Form*/
#FormInserimentoComunicazione {
    width: 33.125rem;
    height: 43.75rem;
    flex-shrink: 0;
    border-radius: 0rem 0.9375rem 0.9375rem 0rem;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;

    position: absolute;
    top: 260px;

    display: flex;
    flex-direction: column;

    background: #004996;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 31px;
}

#TagComunicazioneLabel {
    width: 6.625rem;
    height: 3.625rem;
    color: #FFF;
    text-align: center;
    font-family: OutFit;
    font-size: 3rem;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
}

#TagComunicazione {
    width: 324px;
    height: 50px;
    border-radius: 0.625rem;
    background: #F4F4F4;

    color: #000;
    font-family: OutFit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 20px;
    text-align: center;
}

#TagComunicazione option {
    color: #000;
    font-family: OutFit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-color: #F4F4F4;
    border-radius: 0 0 10px 10px;
}

#labelNumeroComunicazione {
    width: 222px;
    height: 50px;
    flex-shrink: 0;

    color: #FFF;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#NumeroComunicazione {
    width: 115px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F4F4F4;

    color: #404040;
    text-align: center;
    font-family: OutFit;
    font-size: 40px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;

    display: inline-block;
    vertical-align: middle;
}

#labelTitoloComunicazione,
#labelCorpoComunicazione {
    color: #EFEFEF;
    font-family: Outfit;
    text-align: end;
    margin-right: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#TitoloComunicazione {
    width: 452px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F4F4F4;

    color: #404040;
    text-align: center;
    font-family: OutFit;
    font-size: 40px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    margin-left: 31px;
    margin-top: 10px;
}

#CorpoComunicazione {
    border-radius: 10px;
    background: #F4F4F4;

    width: 452px;
    height: 165px;
    color: #404040;
    font-family: OutFit;
    font-size: 40px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    margin-left: 31px;
    margin-top: 5px;

    resize: none;
}

#labelDataInizioComunicazione,
#labelDataFineComunicazione {
    display: flex;
    width: 248px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;

    font-family: OutFit;
    font-size: 48px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
}

#DataFineComunicazione,
#DataInizioComunicazione {
    border-radius: 10px;
    background: #F4F4F4;
    width: 175px;
    height: 50px;
    flex-shrink: 0;

    color: #404040;
    text-align: center;
    font-family: OutFit;
    font-size: 20px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    margin-left: 25px;
}

#Azioni {
    color: #FFF;
    font-family: OutFit;
    font-size: 48px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;

    display: flex;
    flex-direction: column;
}

#InserisciComunicazione {
    width: 70px;
    height: 70px;
    border: 0;
    background-color: #004996;
    margin-left: 200px;
    margin-bottom: 1px;
    visibility: hidden;
}

#TitoloComunicazione,
#CorpoComunicazione,
#NumeroComunicazione,
#DataFineComunicazione,
#DataInizioComunicazione,
#InserisciComunicazione {
    pointer-events: none;
}

.error {
    color: red;
}

/*Comunicazioni*/

#AnteprimaComunicazione {
    width: 484.215px;
    height: 655px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2.5px solid #FFF;
    background: #205295;
    position: absolute;
    top: 305px;
    left: 660px;
}

#UltimaComunicazione {
    width: 484.215px;
    height: 655px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2.5px solid #FFF;
    background: #205295;
    position: absolute;
    top: 305px;
    left: 67%;
}

#BoxTestoAnteprimaComunicazione {
    color: #FF473D;
    position: absolute;
    left: 660px;
    bottom: 790px;
    font-family: OutFit;
    font-size: 32px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

#BoxTestoUltimaComunicazione {
    color: #FF473D;
    position: absolute;
    left: 1295px;
    bottom: 790px;
    font-family: OutFit;
    font-size: 32px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}



#NumeroComunicazioneAnteprima,
#NumeroUltimaComunizazione {
    width: 105px;
    height: 63px;
    position: absolute;
    top: 10px;
    left: 8px;
    color: #FFF;
    text-align: center;
    font-family: 'OutFit', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    /*metto il testo al centro sia verticale che orizzontale*/
    display: flex;
    justify-content: center;
    align-items: center;

}

#DivisoreNumeroTitoloComunicazioneAnteprima,
#DivisoreNumeroTitoloUltimaComunicazione {
    width: 3.228px;
    height: 85.393px;
    flex-shrink: 0;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 120px;
}

#HeadComunicazioneAnteprima,
#HeadUltimaComunicazione {
    width: 480px;
    height: 85.393px;
    flex-shrink: 0;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid #33B4FE;
    background: #004996;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 0;
}

#CorpoComunicazioneAnteprima,
#CorpoUltimaComunicazione {
    text-align: justify;
    color: #FFF;
    font-family: 'OutFit', sans-serif;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 35px;
    display: flex;
    width: 450px;
    height: 514px;
    flex-shrink: 0;

}

#TitoloComunicazioneAnteprima,
#TitoloUltimaComunicazione {
    display: flex;
    width: 331.867px;
    height: 42.696px;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'OutFit', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 20px;
    left: 130px;
    z-index: 1;
    align-items: center;
}

#FooterComunicazioneAnteprima,
#FooterUltimaComunicazione {
    width: 480.215px;
    height: 38.815px;
    flex-shrink: 0;
    border-radius: 0px 0px 15px 15px;
    background: #233284;
    border-top: 5px solid #0E284B;
    position: absolute;
    top: 610px;
    left: 0;
}

#FirmaComunicazioneAnteprima,
#FirmaUltimaComunicazione {
    color: #FFF;
    text-align: left;
    font-family: 'OutFit', sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    position: absolute;
    left: 28px;
    bottom: 4px;
}

/*Visulizzazione Comunicazioni*/
#AnteprimaVisualizzazioneComunicazione {
    margin-left: 18px;
}

#TestoAnteprimaVisualizzazioneComunicazione {
    color: #FF473D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #232323;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#BoxAnteprimaVisualizzazioneComunicazione {
    width: 30.26344rem;
    height: 40.9375rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    border: 2.5px solid #FFF;

    background: #205295;
    position: absolute;
}

#NumeroVisualizzazioneComunicazioneAnteprima {
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    position: absolute;
    top: 10px;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 104.8px;
    height: 63.074px;
    flex-direction: column;
    flex-shrink: 0;
    /*metto il testo al centro sia verticale che orizzontale*/
    justify-content: center;
    align-items: center;
    left: 5px;
}

#DivisoreNumeroTitoloVisualizzazioneComunicazioneAnteprima {
    width: 3.228px;
    height: 85.393px;
    flex-shrink: 0;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 115px;
}

#HeadVisualizzazioneComunicazioneAnteprima {
    width: 480px;
    height: 85.393px;
    flex-shrink: 0;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid #33B4FE;
    background: #004996;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 0;
}

#CorpoVisualizzazioneComunicazioneAnteprima {
    text-align: justify;
    color: #FFF;
    font-family: 'OutFit', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: 120px;
    left: 20px;
    display: flex;
    width: 450px;
    height: 514px;
    text-wrap: wrap;
}

#TitoloVisualizzazioneComunicazioneAnteprima {
    color: #FFF;
    text-align: center;
    position: absolute;
    top: 15px;
    line-height: normal;
    display: flex;
    width: 331.867px;
    height: 42.696px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    /*metto il testo al centro sia verticale che orizzontale*/
    align-items: center;
    left: 120px;
    z-index: 1;

    font-family: Outfit;
    font-size: 27px;
    font-style: normal;
}

#FooterVisualizzazioneComunicazioneAnteprima {
    width: 480.215px;
    height: 38.815px;
    flex-shrink: 0;
    border-radius: 0px 0px 15px 15px;
    background: #233284;
    border-top: 5px solid #0E284B;
    position: absolute;
    top: 610px;
    left: 0;
}

#FirmaVisualizzazioneComunicazioneAnteprima {
    color: #FFF;
    text-align: left;
    font-family: 'OutFit', sans-serif;
    font-size: 25px;
    font-style: normal;
    line-height: normal;
    position: absolute;
    left: 20px;


}

#ListaComunicazioniRegistrate {
    margin-left: 35.26344rem;
    /* Sposta la tabella a destra della sezione fissa */
    overflow-x: auto;
    /* Attiva lo scorrimento orizzontale */
    margin-right: 30px;
    /* Aggiungi un po' di padding per evitare che il contenuto tocchi il bordo */
}

#ListaComunicazioni {
    width: 100%;
    
    border-collapse: collapse;
}

#ListaComunicazioni,
th,
td {
    border: 1px solid black;
}

td,
tr,
th {
    border: 1px solid #FFF;
    
    padding: 0;
    margin: 0;
    color: #F4F4F4;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.BottoneVisualizzaComunicazione {
    background: #005CD7;
    border: 0;
}


/* COMPONENTI AGGIUNTIVI*/

#AnteprimaComponente {
    width: 100%;
    max-width: 1284.804px;
    height: 700.167px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2.5px solid #E09819;
    background: #0E284B;
    position: relative;
    top: 40px;
    left: 628px;
    box-sizing: border-box;
}

#boxHeaderComponentiAggiuntivi {
    width: 100%;
    height: 91.281px;
    flex-shrink: 0;
    background-color: #004996;
    position: absolute;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid #33B4FE;
    box-sizing: border-box;

}

#TitoloComponentiAggiuntivi {
    color: #FFF;
    position: absolute;
    top: 5px;
    left: 0px;
    text-align: center;
    font-family: 'OutFit', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;

    display: flex;
    width: 1270px;
    height: 75.018px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

#boxImmagineComponentiAggiuntivi {
    width: 641px;
    height: 497px;
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    border: 1px solid #E09819;
    background: #004083;
    position: absolute;
    top: 110px;
    left: 637px;
}


#ImmagineComponentiAggiuntivi {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    color: #FFF;
    text-align: justify;
    font-family: 'OutFit', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    object-fit: contain;
}

#TestoComponentiAggiuntivi {
    display: flex;
    width: 588px;
    height: 540px;
    flex-shrink: 0;
    flex-direction: column;
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    top: 110px;
    left: 20px;
}

#boxProfComponentiAggiuntivi {
    width: 100%;
    height: 41.491px;
    flex-shrink: 0;
    border-radius: 0 0 15px 15px;
    border-top: 2.5px solid #E09819;
    background: #004996;
    position: absolute;
    top: 656px;

}

#ProfComponentiAggiuntivi {
    color: #FFF;
    text-align: right;
    font-family: 'OutFit', sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    padding-right: 25px;

}



/* FORM COMPONENTI*/

#boxFormComponentiAggiuntivi {
    width: 530px;
    height: 700px;
    flex-shrink: 0;

    border-radius: 0px 15px 15px 0px;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    background: #004996;
}

#formTitoloComponentiAggiuntivi {
    width: 452px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F4F4F4;

    color: #404040;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;

    margin-top: 20px;
    margin-left: 31px;
}

#textFormTitoloComponentiAggiuntivi,
#textFormTestoComponentiAggiuntivi {
    color: #EFEFEF;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    text-align: end;

    padding: 0;
    box-sizing: border-box;
}

#formTestoComponentiAggiuntivi {
    width: 452px;
    height: 265px;

    border-radius: 10px;
    background: #F4F4F4;

    color: #404040;
    font-family: Outfit, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;;
}

#textFormDataInizioComponentiAggiuntivi,
#textFormDataFineComponentiAggiuntivi,
#textFormImmagineComponentiAggiuntivi {
    display: flex;
    width: 248px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
}

#formDataFineComponentiAggiuntivi,
#formDataInizioComponentiAggiuntivi {
    border-radius: 10px;
    background: #F4F4F4;
    width: 175px;
    height: 50px;
    flex-shrink: 0;
    color: #404040;
    text-align: center;
    font-family: OutFit;
    font-size: 20px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
    margin-left: 25px;
}

#upload {
    background-image: url('../img/UI/upload.png');
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
    width: 75px;
    height: 75px;
    background-size: 100% 100%;
    color: transparent;

    margin-left: 80px;
    margin-top: -10px;
}

#Azioni2 {
    color: #FFF;
    font-family: OutFit;
    font-size: 48px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;

    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 13px;
}

#submitComponenteAggiuntivo {
    width: 75px;
    height: 75px;
    border: 0;
    background-color: #004996;
    position: absolute;
    left: 360px;
    bottom: 10px;
    background-image: url("../img/UI/add.png");
}

#boxTabellaComponentiAggiuntivi {
    margin-right: 30.26344rem;
    /* Sposta la tabella a destra della sezione fissa */
    overflow-x: auto;
    /* Attiva lo scorrimento orizzontale */
    margin-left: 20px;
    /* Aggiungi un po' di padding per evitare che il contenuto tocchi il bordo */
    position: absolute;
    bottom: 530px;
}

#TabellaComponentiAggiuntivi {
    border-collapse: collapse;
    width: 570px;
}



.container {
    display: flex;
    justify-content: space-between;
    /* Adjusts the space between the divs */
}

.side-by-side {
    width: 48%;
    /* Adjust the width as needed */
    padding: 10px;
    /* Optional: Add padding for content spacing */
    box-sizing: border-box;
    /* Ensures padding and border are included in the width */

    color: #FFF;
    font-family: OutFit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 735;
    line-height: normal;
}